# NOTE: During the release workflow, this file is moved to the repository root
# as semantic release runs with the context of the repository root
branches:
  - main
tagFormat: dagster-v${version}
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/changelog"
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/git"
  - - "@codedependant/semantic-release-docker"
    - dockerImage: jzmrn/data-tracker-dagster
      dockerFile: analytics/Dockerfile
      dockerBuildFlags:
        platform: linux/amd64
