resources:
  - "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.Secret
    name: token_secret
    generic_secret:
      secret:
        inline_string: "{{ oauth_client_secret }}"
